img{
    overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%;
    height: 100%;
    position: relative; /* criamos um contexto para posicionamento */
}

body{
    background-color: black;
    padding: 0;
    zoom: 75%;

}

.button-containers{

    text-align:center;
    display: flex;
    justify-content: space-around;
}

button{
    position: absolute;
    width: 100%;
    
}

h1{
    position: absolute;
    z-index:1;
    top:25%;
    left:38.6%;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.1;
    max-inline-size: 15ch;
    text-shadow: .1em .1em 0 #000;
    font-family: 'Fugaz One', cursive;
    place-content: center;
    color: white;
    
    
    

}


.button1 {
   
    z-index:1;
    top:59.9%;
    left:41.9%;
    width:100px;               /* largura para o botão */
    height:100px;              /* altura para o botão */
    padding:0;
    margin:-15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
    cursor: pointer;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #000;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0.6em;
    color: #fff;
    padding-top: 40px;
    padding-left: 27px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;

    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  


.button2 {
    
    z-index:1;
    top:44.3%;
    left:41.9%;
    width:100px;               /* largura para o botão */
    height:100px;              /* altura para o botão */
    padding:0;
    margin:-15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
    cursor: pointer;
    border-color: #3498ab;
    color: #fff;
    box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #000;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding-top: 40px;
    padding-left: 22px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }


.button3 {
    background-color: yellow;
    z-index:1;
    top:44.4%;
    left:49.5%;
    width:100px;               /* largura para o botão */
    height:100px;              /* altura para o botão */
    padding:0;
    margin:-15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
    cursor: pointer;
    border-color: #000;
    color: #fff;
    box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #000;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding-top: 40px;
    padding-left: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.button4 {
    background-color: green;
    z-index:1;
    top:59.9%;
    left:49.5%;
    width:100px;               /* largura para o botão */
    height:100px;              /* altura para o botão */
    padding:0;
    margin:-15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
    cursor: pointer;
    border-color: #000;
    color: #fff;
    box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #000;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding-top: 40px;
    padding-left: 27px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
